*~
*.swp
*.pyc
__pycache__/


# for vscode
.vscode


# for snakeamke
.snakemake*
.snakemake/*


# custom gitignore
raw_sanger/*
raw_fastq/*
genomic_data/*
output_classifier/*
output_fastp/*
output_minimap2/*
output_samtools/*
output_mappingReporter/*
logs/*
scripts/debug.*/*
report.html
