*~
*.swp
*.pyc
__pycache__/


# for vscode
.vscode


# for snakeamke
.snakemake*
.snakemake/*


# for bash nohup
nohup*


# for jupyter notebook
.ipynb_checkpoints


# workplace specific
raw_sanger/*
raw_fastq/*
genomic_data/*
output_classifier/*
output_fastp/*
output_minimap2/*
output_samtools/*
output_mappingReporter/*
output_blastUnmapped/*
sequencing_request/*
logs/*
scripts/debug.*/*
report.html
