Primer3 File - http://primer3.org
P3_FILE_TYPE=settings

PRIMER_TASK=generic
PRIMER_PICK_LEFT_PRIMER=0
PRIMER_PICK_INTERNAL_OLIGO=0
PRIMER_PICK_RIGHT_PRIMER=0
PRIMER_MIN_SIZE=14
PRIMER_MAX_SIZE=25
PRIMER_OPT_SIZE=20
PRIMER_MIN_GC=40.0
PRIMER_MAX_GC=50.0
PRIMER_OPT_GC_PERCENT=50.0
PRIMER_MIN_TM=40
PRIMER_MAX_TM=55
PRIMER_OPT_TM=50
PRIMER_NUM_RETURN=1
PRIMER_MAX_NS_ACCEPTED=0
PRIMER_EXPLAIN_FLAG=1
=
